@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";


@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}


html,
body {
  height: 100%;
  font-family: "inter", "Anek Bangla", sans-serif;
}

html {
  transition: background-color .25s ease, color .25s ease;
}

.jost {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
}

:root {
  color-scheme: light dark;
}

/* ---------- Light Theme ---------- */
/* ---------- Light Theme ---------- */
@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #CD2C58;
  /* Brand Red */
  --color-secondary: #E06B80;
  /* Supporting Rose */
  --color-accent: #FFC69D;
  /* Highlight Soft Orange */

  --color-neutral: #F5F5F5;
  /* Card / Section BG */
  --color-info: #3B82F6;
  /* Info Blue */
  --color-background: #FFFFFF;
  /* Page BG */
}

/* ---------- Dark Theme ---------- */
@plugin "daisyui/theme" {
  name: "dark";

  --color-primary: #F4991A;
  /* Deep Orange */
  --color-secondary: #F7B267;
  /* Warm Accent */
  --color-accent: #DDC3C3;
  /* Subtle light beige */

  --color-neutral: #1B1B1B;
  /* Card & Surface */
  --color-info: #60A5FA;
  /* Soft Blue */
  --color-background: #0D0D0D;
  /* Base darker area */
}